{% extends 'base.html.twig' %}
 {% import _self as eTable %}
{% block body %}
	<h3>Calendar</h3>
	<table border="1" cellpadding="5" cellspacing="5">
		<thead>
			{# todo: in this task it is required to translate all strings #}
		<th style="text-align: center">twoWeeksBefore</th>
		<th style="text-align: center">oneWeekBefore</th>
		<th style="text-align: center">today</th>
		</thead>
		<tbody border="0">
			<tr>
				<td style="text-align: left">{{ eTable.exerciseTable(twoWeeksBefore)  }}</td>
				<td style="text-align: left">{{ eTable.exerciseTable(oneWeekBefore)  }}</td>
				<td style="text-align: right">{{ eTable.exerciseTable(today)  }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}

{% macro exerciseTable(data) %}
	<table width="100%">
		{% for row in data %}
			<tr>
				<td style="text-align: left; padding-right:10px;">{{ row.shortDesc }}</td>
				<td style="text-align: right">{{ row.weight }}</td>
				<td style="text-align: center">Kg x</td>
				<td style="text-align: left">{{ row.counter }}</td>
			</tr>
		{% endfor %}
	</table>
{% endmacro  %}
